@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #29292B;
}

::-webkit-scrollbar-thumb {
    background: #C9C7BA;
    border-radius: 10px 10px 10px 10px;
}